@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --blue: #1c5ae6;
    --blue2: #1999e6;
    --blue3: #1515ab;
    --blue4: #18bccb;
    --blue5: #150239;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*Estilização da navbar*/

.navbar {
    position: relative;
    z-index: 1000;
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    height: 50px;
    margin: 30px;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 17px;
    transition: 0.2s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.2);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    transform: scale(1.1);
    border: 2px solid var(--blue);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

/* Fim da Estilização da navbar*/

/* Cards Pessoais */

.title h1{
    font-family: "poppins";
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-size: 2.5rem;
    padding-top: 30px;
}

.conteiner-geral{
    margin: 70px;
    text-align: center;
}

.conteiner-geral .conteiner-up{
    display: flex;
}

.conteiner-geral .conteiner-up .imgs{
    background-color: var(--blue);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 40px 40px 0 0;
    z-index: 998;
    box-shadow: 0px -7px 20px rgba(0, 0, 0, 0.8);
    .img-1{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        z-index: 999;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.8);
        margin-left: 5%;
    }
    .img-2{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: -10%;
        z-index: 998;
        box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
    }
}

.conteiner-geral .conteiner-up .text{
    background-color: var(--white);
    width: 100vw;
    text-align: start;
    padding-left: 70px;
    border-radius: 0 40px 0 0;
    margin-left: -3%;
    z-index: 997;
    h1{
        font-family: "poppins";
        margin-top: 20px;
        font-size: 2.5rem;
    }
    p{
        font-family: "montserrat";
        font-size: 1.2rem;
    }
    .icons{
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 20px;
        margin-bottom: 30px;
    }
    #card{
        color: var(--white);
        background-color: var(--blue);
        width: 90px;
        padding-inline: 10px;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 20px;
    }
}


.container-low {
    display: flex;
    height: 300px;
    background-color: var(--blue4); 
    overflow: hidden;
    border-radius: 0 0 40px 40px; 
}

.sidebar {
  min-width: 389px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
  justify-content: space-between;
  
  
  button{
    font-family: "Montserrat";
    height: 100%;
  }
}

.tab-btn {
  border: none;
  background: none;
  padding: 20px 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: 0.3s;
}


.tab-btn.active, .tab-btn:hover {
    background-color: var(--blue4);
    color: white;
}


.content {
    width: 70%;
    padding-top: 20px;
    padding-left: 30px;
    color: white;
    text-align: start;
}

.tab-content {
    display: none; 
}

.tab-content.active {
    display: block; 
}
.tab-btn1 {
  border: none;
  background: none;
  padding: 20px 10px;
  cursor: pointer;
  font-weight: bold;
  color: black;
  transition: 0.3s;
}

.tab-btn1.active, .tab-btn1:hover {
  background-color: var(--blue4);
  color: white;
}

.tab-content1 {
  display: none; 
}

.tab-content1.active {
  display: block; 
}

.content div{
    h1{
        font-family: "poppins";
    }
    p{
        font-family: "montserrat";
        font-size: 1.1rem;
        padding-top: 5px;
        padding-right: 20px;
    }
}

#redes{
    max-width: 400px;
    .i{
        font-family: "montserrat";
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        min-height: 50px;
        min-width: 50px;
        padding-inline: 50px;
        transition: 0.2s ease-in-out;
    

    img {
        width: 40px;
        height: 40px;
    }

    margin-bottom: 30px;
    }

    .i:hover{
        transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    }
}

#contato{
     max-width: 400px;
    .w{
        font-family: "montserrat";
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        min-height: 50px;
        min-width: 50px;
        padding-inline: 50px;
        transition: 0.2s ease-in-out;
    

    img {
        width: 40px;
        height: 40px;
    }

    margin-bottom: 30px;
    }

    .w:hover{
        transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    }
}

#projetos .container-cards {
    display: flex !important; 
    flex-direction: row !important; 
    align-items: center;
    gap: 15px; 
    margin-left: 70px;
    width: 100%;
}

#projetos .container-cards .card {
    background-color: var(--white);
    padding: 10px 20px;
    height: 120px;
    width: 150px; 
    display: block;
    margin-left: -8%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
}

#projetos .container-cards .card:hover {
    transform: translateY(-10px);
}

#projetos .container-cards .card:hover~.card {
    z-index: 1;
    translate: 10px;
}

#redes1{
    max-width: 400px;
    .i{
        font-family: "montserrat";
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        min-height: 50px;
        min-width: 50px;
        padding-inline: 50px;
        transition: 0.2s ease-in-out;
    

    img {
        width: 40px;
        height: 40px;
    }

    margin-bottom: 30px;
    }

    .i:hover{
        transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    }
}

#contato1{
     max-width: 400px;
    .w{
        font-family: "montserrat";
        background-color: var(--white);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;
        min-height: 50px;
        min-width: 50px;
        padding-inline: 50px;
        transition: 0.2s ease-in-out;
    

    img {
        width: 40px;
        height: 40px;
    }

    margin-bottom: 30px;
    }

    .w:hover{
        transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    }
}

#projetos1 .container-cards {
    display: flex !important; 
    flex-direction: row !important; 
    align-items: center;
    gap: 15px; 
    margin-left: 70px;
    width: 100%;
}

#projetos1 .container-cards .card {
    background-color: var(--white);
    padding: 10px 20px;
    height: 120px;
    width: 150px; 
    display: block;
    margin-left: -8%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    transition: all 0.4s ease;
}

#projetos1 .container-cards .card:hover {
    transform: translateY(-10px);
}

#projetos1 .container-cards .card:hover~.card {
    z-index: 1;
    translate: 10px;
}
/* Fim dos Cards Pessoais */