@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --blue: #1c5ae6;
    --blue2: #1999e6;
    --blue3: #1515ab;
    --blue4: #18bccb;
    --blue5: #150239;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/*Estilização da navbar*/

.navbar {
    position: relative;
    z-index: 1000;
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: var(--blue);
    padding: 10px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    height: 50px;
    margin: 30px;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 17px;
    transition: 0.2s ease-in-out;
}

.navbar a:hover {
    transform: scale(1.2);
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    transform: scale(1.1);
    border: 2px solid var(--blue);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

/* Fim da Estilização da navbar*/

/* Estilização Inicio site*/
.first-section {
    background-image: url(imgs/pngtree-3d-illustration-of-a-laptop-wielding-freelance-developer-picture-image_5836513.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 50px;
    margin-top: -130px;
}

.first-section .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Montserrat";
}

.first-section .content p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 100px;
    font-family: "Montserrat";
}

.first-section .content .btn {
    background-color: white;
    color: var(--blue);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    transition: transform 0.2s;
    font-family: "Montserrat";
}

.first-section .content .btn:hover {
    color: var(--white);
    background-color: var(--blue3);
    transition: 0.2s linear;
}

/* Fim da Estilização Inicio site*/

/* Sobre nós*/
.aboutus {
    background-color: var(--white);
    margin: 70px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.aboutus h1 {
    text-transform: uppercase;
    font-family: "Poppins";
    padding-top: 20px;
    color: var(--blue);
}

.aboutus .content {
    margin: 60px;
}

.aboutus .content img {
    width: 150px;
    height: 150px;
    z-index: 99;
}

.aboutus .content p {
    padding-bottom: 30px;
    font-family: "montserrat";
    color: var(--blue3);
}

.aboutus:hover {
    .content img {
        border-radius: 50%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        width: 170px;
        height: 170px;
    }
}

.content img {
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    width: 170px;
    height: 170px;
    transition: all 0.3s ease-in-out;
}

.content img:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

/* Fim Sobre nós*/

/* Sobre a equipe*/
.team {
    margin-top: 70px;
    text-align: center;
}

.team div h1 {
    text-transform: uppercase;
    font-family: "poppins";
    color: var(--white);
    font-size: 2.5rem;
}

.team .conteiner {
    display: flex;
    margin-top: 90px;
}

.team .conteiner .colab{
    img{
        width: 400px;
        height: 400px;
        border-radius: 20px;
    }
}



.team .conteiner div {
    padding-inline: 60px;
}

.team .conteiner p {
    font-family: "Montserrat";
    color: var(--white);
    margin-bottom: 30px;
}

.team .conteiner .btn {
    background-color: white;
    color: var(--blue);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    margin-top: 80px;
    text-transform: uppercase;
}

.team .conteiner .btn:hover {
    color: var(--white);
    background-color: var(--blue3);
    transition: 0.2s linear;
}

/* Fim Sobre a equipe*/

/* Serviços*/
.services {
    background-color: var(--blue);
    margin-top: 100px;
    border-radius: 40px;
}

.text {
    display: flex;
    color: var(--white);
    padding: 50px;
}

.text .about {
    width: 50vw;
    padding-inline-end: 30px;
}

.text .about h1 {
    font-family: "poppins";
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.text .about p {
    font-family: "Montserrat";
}

.text .cards {
    display: grid;
    margin-top: 20px;
    text-align: center;
    width: 40vw;
    align-items: center;
}

.text .cards p {
    text-decoration: none;
    color: var(--white);
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 10px;
    border: 3px solid var(--white);
    border-radius: 10px;
}

.text .cards p:hover {
    background-color: var(--blue3);
    border: 3px solid var(--blue5);
    transition: 0.5s linear;
}

.def {
    display: flex;
    padding: 50px;
}

.def .item {
    padding: 20px;
    color: var(--white);
}

.def .item h2 {
    font-family: "poppins";
    text-transform: uppercase;
    padding-bottom: 20px;
}

.def .item p {
    font-family: "montserrat";
    padding-top: 20px;
    padding-bottom: 30px;
}

.def .item .btn {
    background-color: white;
    color: var(--blue);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    margin-top: 80px;
    text-transform: uppercase;
}

.def .item .btn:hover {
    color: var(--white);
    background-color: #1515ab;
    transition: 0.3s linear;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.conteiner-geral {
    text-align: center;
    padding: 40px;
}

.conteiner-geral h1 {
    color: var(--white);
    font-family: "poppins";
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.conteiner-geral h2 {
    color: var(--white);
    font-family: "poppins";
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.tab-content2 h2 {
    color: var(--white);
    font-family: "poppins";
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 25px;
    text-align: center;
}

.tab-content2 {
    display: block;
    background-color: var(--blue);
    text-align: center;
    padding-top: 30PX;
    padding-bottom: 50px;
}

.tab-content1 {
    display: block;
}

.grid-pacotes {
    display: flex;
    justify-content: center;
    gap: 75px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    height: 400px;
    position: static;
    transition: 0.3s ease-in-out;
    padding-bottom: 20px;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}


.card .title {
    font-family: "poppins";
    color: var(--white);
    background-color: var(--blue5);
    font-size: 1.5rem;
    height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}


.card p {
    font-family: "montserrat";
    padding: 30px;
}

.card a {
    background-color: var(--blue5);
    color: var(--white);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    margin-top: auto;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 20px;
    align-items: center;
}

.card a:hover {
    color: var(--white);
    background-color: #1515ab;
    transition: 0.5s linear;
}

.ptext {
    padding-top: 30px;
    color: var(--white);
    text-align: center;
    font-family: "Montserrat";
    padding-bottom: 30px;
}

/* Fim de Serviços*/

/* Criação de sites*/
.sitesbuld {
    background-color: var(--white);
    display: flex;
    margin-top: 30px;
    border-radius: 40px;
}

.sitesbuld .conteiner1 {
    width: 50%;
    padding: 50px;
    align-items: center;
    text-align: start;
    display: grid;
}

.sitesbuld .conteiner2 {
    width: 50%;
    padding: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sitesbuld .conteiner1 h1 {
    font-family: "poppins";
    font-size: 3.5rem;
    text-transform: uppercase;
}

.sitesbuld .conteiner1 p {
    font-family: "montserrat";
    padding-top: 10px;
}

.sitesbuld .conteiner2 img {
    width: 500px;
    height: 500px;
    text-align: center;
    padding-bottom: 55px;
}

.sitesbuld .conteiner1 .icons {
    font-family: "montserrat";
    border: 2px solid var(--blue3);
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: black;
    min-height: 50px;
    padding: 10px;
}

.conteiner2 .btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear;
}

.conteiner2 .btn:hover {
    color: var(--white);
    background-color: var(--blue3);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

/* Fim de Criação de sites*/

/* Projetos*/
.projects {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.projects h1 {
    font-family: "poppins";
    color: var(--white);
    text-transform: uppercase;
    margin: 50px;
    font-size: 2.5rem;
}

.projects .conteiner {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.projects .conteiner .card {
    width: 300px;
    height: 400px;
    background-color: var(--blue);
    border-radius: 10px;
    transition: 300ms ease-in-out;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.projects .conteiner .card+.card {
    margin-left: -6%;
}

.projects .conteiner .card:hover {
    transform: rotate(-6deg);
}

.projects .conteiner .card:hover~.card {
    z-index: 1;
    translate: 60px;
}

.projects .btn {
    background-color: var(--white);
    color: var(--blue);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear;
}

.projects .btn:hover {
    color: var(--white);
    background-color: var(--blue3);
    transform: scale(1.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

/* Projetos*/

/* Rodapé*/
.final {
    background-color: var(--white);
    margin-top: 60px;
    text-align: center;
    border-radius: 40px 40px 0 0;
}

.final img {
    width: 150px;
    height: 150px;
}

.final h1 {
    font-family: "poppins";
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--blue);
    padding-top: 10px;
    padding-bottom: 20px;
}

.final .btn {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 35px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s;
    font-family: "Montserrat";
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear;
}

.final .btn:hover {
    color: var(--white);
    background-color: var(--blue3);
    transform: scale(1.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.final p {
    padding-top: 30px;
    font-family: "montserrat";
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.final .icons a {
    font-family: "montserrat";
    background-color: var(--blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    min-height: 50px;
    min-width: 160px;
    padding-inline: 50px;
    transition: 0.2s ease-in-out;

    img {
        width: 40px;
        height: 40px;
    }

    margin-bottom: 30px;
}

.final .icons .i:hover {
    background-color: rgb(201, 2, 201);
}

.final .icons .w:hover {
    background-color: rgb(62, 221, 89);
}

.final .icons .e:hover {
    background-color: rgb(226, 53, 53);
}

.final .icons a:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.final .btnback {
    font-family: "montserrat";
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.back {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 50px;

    img {
        width: 25px;
        height: 25px;
    }
}

.footer-copyright {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: var(--white);
    border-top: 1px solid var(--blue);
}

.footer-copyright p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    font-weight: 400;
}

/* Fim rodapé*/